@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.login-btn{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.imagem-logo{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 302px;
    height: 302px;
    margin: 2rem 1rem;
}